<div class="sidebar">
  <h2>Find:</h2>
  <ul>
    <li class="waldo">
      <div class="figure-wrapper">
        <figure>
          <%= image_tag "characters.png" %>
        </figure>
      </div>
      <p>Waldo</p>
    </li>
    <li class="wenda">
      <div class="figure-wrapper">
        <figure>
          <%= image_tag "characters.png" %>
        </figure>
      </div>
      <p>Wenda</p>
    </li>
    <li class="wizard">
      <div class="figure-wrapper">
        <figure>
          <%= image_tag "characters.png" %>
        </figure>
      </div>
      <p>Wizard</p>
    </li>
    <li class="oddlaw">
      <div class="figure-wrapper">
        <figure>
          <%= image_tag "characters.png" %>
        </figure>
      </div>
      <p>Oddlaw</p>
    </li>
    <li class="woof">
      <div class="figure-wrapper">
        <figure>
          <%= image_tag "woof.png" %>
        </figure>
      </div>
      <p>Woof's tail</p>
    </li>
  </ul>
</div>